@charset "utf-8";



/* ３ページ目 */
body {
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    background-color: #000;
}
.third {
    background-color: rgb(246, 0, 41);
}
h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    /* text-align: center; */
    margin-top: 30px;
}
h3 {
    /* 最小1.8rem | SP:2rem | TB:2.5rem | PC:3rem | 最大3.2rem */
	font-size: clamp(1.2rem, calc(1.0vw + 1.0rem), 3.2rem);
    margin-bottom: 1vw;
}
p.profcontents-pc {
    	/* 最小1.2rem | SP:1.4rem | TB:1.5rem | PC:1.6rem | 最大1.8rem */
	font-size: clamp(1.2rem, calc(0.2vw + 1rem), 1.8rem);
    line-height: 4vw;
    padding: 0 4vw 0 6vw;
}
.prof-sp {
    color: #fff;
    padding: 25px;
}
.name-sp {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sign-wc1 {
    width: 157px;
    display: block;
    margin: auto;
    height: 100px;
    /* margin-top: 30px; */
    
    /* margin: 30px auto; */
    /* border: 2px solid ; */
}
#third-img {
    width: 157px;
    background-color: pink;
    /* height: 100%; */
}
.motoko-pr {
    /* position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%); */
    display: block;
    height: 252px;
    margin: -50px auto;

}
#black-block {
    background-color: rgb(8, 8, 8);
    height: 64%;
    padding: 100px;

}

/* PCのグリット設定 */
.grid {
    display: grid;
    grid-template-columns: 60% 40%;
}
.grid-bio {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 30px;
    background-color: #fff;
}
.grid-bio p {
    display: inline-block;
    align-items: center;
}
/*.name-pc {
    font-size: 20px;
    font-weight: 600;
}*/

.grid-photos {
    grid-column: 2;
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-photos img {
    margin-top: 20px;
}
.sign {
    width: 80%;
    margin: 0 auto;
}
.grid-bio {
    background-color: #000;
    color: #fff;
}
